<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{product.add.title}">Update Product</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
<h1 th:text="#{product.add.title}">Update Product</h1>
	<form th:action="@{/product/update}" method="post" th:object="${productForm}">
		<table>
			<tr>
				<td th:text="#{product.id}">ID</td>
				<td><input type="text" th:field="*{code}"><span th:errors="*{code}">Code is required</span></td>
			</tr>
			<tr>
				<td th:text="#{product.name}">Name</td>
				<td><input type="text" th:field="*{name}"><span th:errors="*{name}">Name is required</span></td>
			</tr>
			<tr>
				<td th:text="#{product.summary}">Summary</td>
				<td><textarea th:field="*{summary}"></textarea></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" th:value="#{submit.text}"></td>
			</tr>
		</table>
	</form>
</body>
</html>